html{
  font-family: 'Shadows Into Light', cursive;
  height: 100%;
  width: 100%;
  background-image: url('/images/mountainBackground.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

section{
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container{
  font-size: 30px;
  background-color: #FFB6C1;
  max-width: 900px;
  width: 100%;
  margin: auto;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  border-radius: 15px;

}

.button-area{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  font-size: 22px;
  background-color: orchid;
  outline: none;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width:300px;

}
.quote-area{
  text-align: center;
}

#quote{
  padding:2px;
}